<div class="col-md-12">
    <h1>Question 1?</h1>
    <ul class="list-unstyled">
        <li>
            <div class="checkbox">
                <label><input type="checkbox"> Choice 1</label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <label><input type="checkbox"> Choice 1</label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <label><input type="checkbox"> Choice 1</label>
            </div>
        </li>
        <li>
            <div class="checkbox">
                <label><input type="checkbox"> Choice 1</label>
            </div>
        </li>
    </ul>
</div>
